 How to simulate do..while loop in Python?

 while True:
    # Do some processing...

    if condition:
        break

1-Write a Python program to calculate the length of a string using 2 ways

In [ ]:
string = input()
print(len(string))

count = 0
for ch in string:
    counter += 1
print(count)

2-Write a Python program to get a string made of the first 2 and last 2 characters of a given string. If the string length is less than 2, return the empty string instead ("##Sample String : 'w3resource' Expected Result : 'w3ce' ##Sample String : 'w3' Expected Result : 'w3w3' ##Sample String : ' w' Expected Result : Empty String)

In [ ]:
string =input(" enter string: ")
if len(string) < 2:
    print()
else:
    print(string[0:2]+string[-2: ])

3-Write a Python program to add 'ing' at the end of a given string (length should be at least 3). If the given string already ends with 'ing', add 'ly' instead. If the string length of the given string is less than 3, leave it unchanged. (Sample String : 'abc' Expected Result : 'abcing')

In [11]:
string = input()
if len(string) < 3:
    print(string)
elif string.endswith("ing"):
    print(string+"ly")
else:
    print(string+"ing")

jjih
jjihing

4-Write a Python function that takes a list of words and return the longest word and the length of the longest one (Longest word: Exercises Length of the longest word: 9)

In [14]:
def max (words):

    longest = ""
    maxlen = 0

    for word in words:
        if len(word) > maxlen:
            longest = word
            maxlen = len(word)
    return longest, maxlen
mylist = ["alaa","azazi"]
maxword, maxlen = max(mylist)
print(maxword ," ",maxlen)

azazi   5

5-Write a Python program to change a given string to a newly string where the first and last chars have been exchanged using 2 ways (Sample String:abca Expected Result:ebce)

In [ ]:
string = input()
print(string[-1] + string[1:-1] + string[0])

6-Write a Python program to remove characters that have odd index values in a given string (Sample String:abca Expected Result:ac)

In [ ]:
string = "AhmedHafez"
string[::2]

7-Write a Python program to count the occurrences of each word in a given sentence (Sample String:amr and ahmed are frindes but amr is the tallest Expected Result:2)

In [17]:
sentence = "l am alaa , l am study computer scince"
words = sentence.split()
for word in words:
    print(word, sentence.count(word))

l 3
am 2
alaa 1
, 1
l 3
am 2
study 1
computer 1
scince 1

8-Write a Python script that takes input from the user and displays that input back in upper and lower cases

In [ ]:
string = input()
print(string.upper(), string.lower())

9-Write a Python function to reverse a string if its length is a multiple of 4

In [ ]:
string = input()
if len(string) % 4 == 0 :
    print(string[::-1])

10- Write a Python program to remove a newline in Python

In [ ]:
string = "my name is Ahmed \n my salary is 2345678675645342"
string = string.replace("\n", "")
print(string)

11-Write a Python program to check whether a string starts with specified characters

In [20]:
a= 'A'
if "Ahmed".startswith(a):
    print("yes")

yes

12- Write a Python program to add prefix text to all of the lines in a string

In [22]:
string = "alaa\nrana\nali"
mylist = string.split("\n")
mylist
for i in mylist:
    print("hello " + i , end = " ")

hello alaa hello rana hello ali

13-Write a Python program to print the following numbers up to 2 decimal places

In [ ]:
round(2.33543567864, 2)

14-Write a Python program to print the following numbers up to 2 decimal places with a sign

In [ ]:
number = float(input())
if number > 0:
    print("+", round(number, 2))
else:
    print(round(number, 2))

15-Write a Python program to display a number with a comma separator

In [23]:
number = 12345
number = str(number)
for i in number :
    print(i+ "," , end = " ")

1, 2, 3, 4, 5,

16-Write a Python program to reverse a string using 2 ways

In [24]:
string = "Ahmed"
string[::-1]
#################33

for i in range(len(string)-1, -1, -1):
    print(string[i], end = "")

'demhA'

17-Write a Python program to count repeated characters in a string (hint:use dictionary)

In [26]:
string = "Instant software solution"
d = dict()
for i in string:
    d[i] = 0


for i in d:
    d[i] = string.count(i)

d

{'I': 1,
 'n': 3,
 's': 3,
 't': 4,
 'a': 2,
 ' ': 2,
 'o': 3,
 'f': 1,
 'w': 1,
 'r': 1,
 'e': 1,
 'l': 1,
 'u': 1,
 'i': 1}

18-Write a Python program to find the first non-repeating character in a given string

In [27]:
string = "hello rana"
for i in string:
    if string.count(i) == 1 :
        print(i)
        break

h

19-Write a Python program to remove spaces from a given string

In [28]:
string="alaa azazi"
new=""
for char in string:
  if char==" ":
    continue
  new=new+char
print(new)

alaaazazi

20-Write a Python program to count the number of non-empty substrings of a given string

21-write a Python program to swap first and last element of any list.

In [ ]:
l = [1,2,3,4]
l[0] , l[-1] = l[-1], l[0]
l

22-Given a list in Python and provided the positions of the elements, write a program to swap the two elements in the list. (Input : List = [23, 65, 19, 90], pos1 = 1, pos2 = 3 Output : [19, 65, 23, 90])

In [31]:
mylist = [1,2,5,9,9,7]
pos1 = 2
pos2 = 5
mylist[pos1], mylist[pos2] = mylist[pos2] , mylist[pos1]
l

[1, 2, 7, 9, 9, 5]

23- search for the all ways to know the length of the list

In [ ]:
#Method 1: Naïve

my_list = [0,1,2,3,4]
counter = 0
for element in my_list:
  counter += 1
print(counter)

In [ ]:
#Method 2: len()
my_list = [0,1,2,3,4]
print(len(my_list))

In [ ]:
# Method 3: length_hint()
from operator import length_hint
my_list = [0,1,2,3,4]
print(length_hint(my_list))

24-write a Python code to find the Maximum number of list of numbers.

In [ ]:
l = [ 1,2,3,4,4,5,6,7,8]
print(max(l))

25-write a Python code to find the Minimum number of list of numbers.

In [39]:
mylist = [ 1,2,3,4,4,5,6,7,8]
print(min(mylist))

1

26-search for if an elem is existing in list

In [41]:
l = [3,4,5,6,7,8]
if 9 in l:
    print("yes")
else:
    print("no")

no
enter element: 2

27- clear python list using different ways

In [ ]:
l = [ 2,3,4,5,6]
l.clear()
#####
l = [ ]

28-remove duplicated elements from a list

In [42]:
def remove_duplicates(lis):

    unique_set = set(lis)

    unique_list = list(unique_set)
    return unique_list


size=int(input("enter size: "))
mylist=[]
for i in range(size):
  mylist.append(input("enter list:"))

mylist=remove_duplicates(mylist)
print(mylist)

enter size: 4
enter list:a
enter list:a
enter list:z
enter list:c
['a', 'z', 'c']

29-Given list values and keys list, convert these values to key value pairs in form of list of dictionaries. (Input : test_list = [“Gfg”, 3, “is”, 8], key_list = [“name”, “id”] Output : [{‘name’: ‘Gfg’, ‘id’: 3}, {‘name’: ‘is’, ‘id’: 8}])

30-write a python program to count unique values inside a list using different ways

In [17]:

#######################
size=int(input("enter size: "))
mylist=[]
for i in range(size):
  mylist.append(input("enter list:"))

unique=0
for word in mylist:
  if mylist.count(word)==1:
    unique +=1
print(unique)

enter size: 2
enter list:a
enter list:a
0

31-write a python program Extract all elements with Frequency greater than K (Input : test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8], K = 3 Output : [4, 3] )

In [28]:

size=int(input("enter size: "))
k=int(input("enter k: "))
mylist=[]
for i in range(size):
  mylist.append(input("enter list:"))
unique_list=[]
for i in mylist:
  if mylist.count(i)>k:
    unique_list.append(i)
  mylist.remove(i)
print(unique_list)

enter size: 10
enter k: 3
enter list:4
enter list:6
enter list:4
enter list:3
enter list:3
enter list:4
enter list:3
enter list:4
enter list:3
enter list:8
['4', '3']

write a python program to find the Strongest Neighbour (Input: 1 2 2 3 4 5 Output: 2 2 3 4 5)

In [33]:
8
##########
size=int(input("enter size: "))

mylist=[]
for i in range(size):
  mylist.append(input("enter list:"))
lis=[]
for i in range(len(mylist)-1):
  lis.append(max(mylist[i],mylist[i+1]))
  if mylist[i]==len(mylist)-1:
    break
for ele in lis:
  print(ele, end=" ")

enter size: 4
enter list:5
enter list:8
enter list:1
enter list:9
8 8 9

33-write a Python Program to print all Possible Combinations from the three Digits (Input: [1, 2, 3] Output: 1 2 3 ## 1 3 2 ## 2 1 3 ## 2 3 1 ## 3 1 2 ## 3 2 1)

In [39]:
################################### I couldn't answer
size=int(input("enter size: "))

mylist=[]
temp=0
for i in range(size):
  mylist.append(input("enter list:"))

enter size: 2
enter list:8
enter list:5
['8', '5']

IndexError: list index out of range

34-write a Python program to find all the Combinations in the list with the given condition (Input: test_list = [1,2,3] Output: [1], [1, 2], [1, 2, 3], [1, 3] [2], [2, 3], [3])

35-write a Python program to get all unique combinations of two Lists (List_1 = ["a","b"] List_2 = [1,2] Unique_combination = [[('a',1),('b',2)],[('a',2),('b',1)]] )

36-Remove all the occurrences of an element from a list in Python (Input : 1 1 2 3 4 5 1 2 1

**Output : 2 3 4 5 2)

In [42]:
size=int(input("enter size: "))
'''
mylist=[]
temp=0
for i in range(size):
  mylist.append(input("enter list:"))
for i in range(size):
  if mylist[i]==mylist[i+1]:
    mylist.remove(mylist[i])
  if i==len(mylist)-2:
    break
for ele in mylist:
  print(ele , end=" ")
  '''

enter size: 4
enter list:4
enter list:4
enter list:5
enter list:8
4 5 8

37-write a python program to Replace index elements with elements in Other List (The original list 1 is : [‘Gfg’, ‘is’, ‘best’] The original list 2 is : [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0] The lists after index elements replacements is : [‘Gfg’, ‘is’, ‘best’, ‘is’, ‘Gfg’, ‘Gfg’, ‘Gfg’, ‘best’, ‘is’, ‘is’, ‘best’, ‘Gfg’])

In [45]:
size=int(input("enter size of elemnet: "))

element_list=[]

for i in range(size):
  element_list.append(input("enter element:"))

size2=int(input("enter size of index : "))

index_list=[]
res=[]
for i in range(size2):
  index_list.append(int(input("enter index:")))
  res.append(element_list.index(index_list[i]))
print(res)



###



'''
for i in range(size2):
    index_val = int(input("Enter index: "))
    if index_val in element_list:
        res.append(element_list.index(index_val))
    else:
        res.append(-1)  # Append -1 if the element is not found in element_list

'''

enter size of elemnet: 2
enter element:a
enter element:d
enter size of index : 3
enter index:1

ValueError: 1 is not in list

38- write python program to Retain records with N occurrences of K(Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 2 Output : [(4, 5, 5, 4)] Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 3 Output : [] )

39-write a Python Program to Sort the list according to the column using lambda array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]] Output : Sorted array specific to column 0, [[1, 3, 3], [2, 1, 2], [3, 2, 1]] Sorted array specific to column 1, [[2, 1, 2], [3, 2, 1], [1, 3, 3]] Sorted array specific to column 2, [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

40- write a program to Sort Python Dictionaries by Key or Value
Input:
{'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}

Output:
{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

41-write python program to Remove keys with Values Greater than K ( Including mixed values ) nput : test_dict = {‘Gfg’ : 3, ‘is’ : 7, ‘best’ : 10, ‘for’ : 6, ‘geeks’ : ‘CS’}, K = 7 Output : {‘Gfg’ : 3, ‘for’ : 6, ‘geeks’ : ‘CS’}

42-Write a Python program to concatenate the following dictionaries to create a new one

Sample Dictionary : dic1={1:10, 2:20} dic2={3:30, 4:40} dic3={5:50,6:60} Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

43-Write a Python program to iterate over dictionaries using for loops

44- Write a Python script to merge two Python dictionaries

45-Write a Python program to get the maximum and minimum values of a dictionary values

46- Write a Python program to drop empty items from a given dictionary. Original Dictionary: {'c1': 'Red', 'c2': 'Green', 'c3': None} New Dictionary after dropping empty items: {'c1': 'Red', 'c2': 'Green'}

47-Write a Python program to create a tuple of numbers and print one item

In [9]:
tup=()
size=int(input("enter size: "))
for i in range(size):

  element = input("Enter element: ")
  tup += (element,)
for i in tup:
  print(i)

enter size: 4
Enter element: 5
Enter element: 5
Enter element: 7
Enter element: 8
5
5
7
8

48-Write a Python program to unpack a tuple into several variables

In [1]:
mytuple = (1, 2, 3)


a, b, c = mytuple


print( a)
print( b)
print( c)

1
2
3

49-Write a Python program to add an item to a tuple

In [2]:
original_tuple = (1, 2, 3)

new_item = 4
new_tuple = original_tuple + (new_item,)
print("New tuple:", new_tuple)

New tuple: (1, 2, 3, 4)

50-Write a Python program to convert a tuple to a string

In [3]:
my_tuple = ('Hello', 'World', '!')


result_string = ' '.join(my_tuple)


print( result_string)

Hello World !

51-Write a Python program to convert a list to a tuple

In [ ]:
mylist = [1, 2, 3, 4, 5]


my_uple = tuple(mylist)

print( mytuple)

52-Write a Python program to reverse a tuple

In [ ]:

mytuple = (1, 2, 3, 4, 5)

reversedtuple = mytuple[::-1]

print( reversedtuple)

53-Write a Python program to replace the last value of tuples in a list. Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)] Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [ ]:

sample_list = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]


newvalue = 100


result_list = [(tup[:-1] + (newvalue,)) for tup in sample_list]


print( result_list)

54-Write a Python program to convert a given string list to a tuple Original string: python 3.0 <class 'str'> Convert the said string to a tuple: ('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

In [5]:

string = "alaa azazi "


converted_tuple = tuple(string)

print( converted_tuple)

('a', 'l', 'a', 'a', ' ', 'a', 'z', 'a', 'z', 'i', ' ')

55-Write a Python program to calculate the average value of the numbers in a given tuple of tuples

In [6]:
def averagetuples(tuples):

    numbers = [num for tup in tuples for num in tup]


    average = sum(numbers) / len(numbers)

    return average


tuple_of_tuples = ((1, 2, 3), (4, 5, 6), (7, 8, 9))
average_value = averagetuples(tuple_of_tuples)
print( average_value)

5.0

56-Write a Python program to add member(s) to a set.

In [8]:

my_set = {1, 2, 3}


my_set.add(4)


print( my_set)

{1, 2, 3, 4}

57-Write a Python program to remove an item from a set if it is present in the set.

In [9]:

my_set = {1, 2, 3, 4, 5}


item_to_remove = 3
if item_to_remove in my_set:
    my_set.remove(item_to_remove)

else:
    print("Item", item_to_remove, "it is not  in the set")

print( my_set)

{1, 2, 4, 5}

58-Write a Python program to create an intersection,union,difference and symmetric difference of sets

In [10]:

set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}


intersection = set1.intersection(set2)
print( intersection)


union = set1.union(set2)
print( union)


difference = set1.difference(set2)
print( difference)


symmetric_difference = set1.symmetric_difference(set2)
print( symmetric_difference)

{4, 5}
{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3}
{1, 2, 3, 6, 7, 8}

59-Write a Python program to find the maximum and minimum values in a set

In [ ]:

my_set = {10, 20, 30, 40, 50}


max_value = max(my_set)
print( max_value)


min_value = min(my_set)
print( min_value)

60- Write a Python program that finds all pairs of elements in a list whose sum is equal to a given value.